$heading-font: 'sigmar one';
$primary-font-bld: 'OpenSans-Bold';
$primary-font-lg: 'OpenSans-Light';
$primary-font-reg: 'OpenSans-Regular';


$background-color: #191919;
$border-color: #3498db;
$border-hover: #2ecc71;